.container
  .col-lg-8
  .form
    .form-group
      = simple_form_for @link do |f|
        = f.error_notification
        = f.input :image
        = f.input :name
        = f.input :url, required: false
        = f.button :submit, class: "btn btn-info"
