%h2 This is Links page

%h3 Create New Link
= render 'form'


%h2 Here you can find existing links

- @links.each do |link|
  = link.name
  %br/
  = link.url
  %br/
  = link_to "like", like_link_path(link), method: :put, class: "btn btn-default"
  = link_to "unlike", dislike_link_path(link), method: :put, class: "btn btn-default"
  = link.get_upvotes.size
  %br/
  %h4 "New comment"
  = render 'comments/form', commentable: link, new_comment: @new_comment
  = render 'comments/reply', new_comment: @new_comment, comments: link.comment_threads
  
