!!! 5
%html
  %head
    %title
      LinksApp
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    %nav.navbar.navbar-expand-lg.navbar-light{style: "background-color: #e3f2fd;"}
      .navbar-brand= link_to t('.title'), root_path
      %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        - if signed_in?
          .offset-md-10
            %span= link_to "Logout", destroy_user_session_path, method: :delete, class: " btn btn-default"
        - else
          %span= link_to "Log in!", user_session_path, class: "btn btn-default"
          %span= link_to "Create Account", new_user_registration_path, class: "btn btn-default"



%p.notice= notice
%p.alert= alert

=yield
